@import url(http://fonts.googleapis.com/css?family=Oswald);
body {
  margin: 0;
}

.top-nav {
  font-family: Oswald, Impact, sans-serif;
  height: 40px;
  width: 100%;
  background-color: #1aa4ff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.top-nav__main-menu {
  color: white;
  text-transform: uppercase;
  width: 900px;
  margin: 0 auto;
}

.top-nav__main-menu__item {
  list-style-type: none;
  display: inline-block;
}

.top-nav__main-menu__item:hover {
  cursor: pointer;
  background-color: #eeeeee;
  color: #a0a0a0;
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
}

.top-nav__main-menu__item:hover .top-nav__submenu__wrap {
  max-height: 1000px;
  transition: max-height 0.3s ease;
}

.top-nav__main-menu__link:link, .top-nav__main-menu__link:visited {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 0 12px;
  line-height: 40px;
}

.top-nav__submenu {
  font-family: Arial, sans-serif;
  width: 900px;
  margin: 0 auto;
}

.top-nav__submenu__wrap {
  background-color: #eeeeee;
  color: #a0a0a0;
  text-transform: none;
  font-size: smaller;
  float: left;
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.top-nav__submenu__item {
  list-style-type: none;
  display: inline-block;
}

.top-nav__submenu__item:hover {
  color: #6d6d6d;
}

.top-nav__submenu__link:link, .top-nav__submenu__link:visited {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 0 12px;
  line-height: 40px;
}
